<h2><%= gettext "New post" %></h2>

<%= render "form.html", changeset: @changeset, action: user_post_path(@conn, :create, @locale, @user) %>

<span><%= link gettext("Back"), to: user_post_path(@conn, :index, @locale, @user) %></span>
